@import './base.css';
@import './base.dark.css';
@import './sigma.css';
@import './shorts.css';
@import './dashboard.css';

:root {
  --header-height: 45px;
  --min-width: 450px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flow-root;
  min-height: 100vh;
  color: var(--gray-900);
  background: var(--gray-0);
  line-height: 1.6;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Noto Sans SC', 'Roboto', 'HarmonyOS Sans SC', 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout */

.layout-container {
  width: 100%;
  padding: 0px 30px;

  h2 {
    margin: 20px 0 10px 0;
  }
}

.lucide-icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.lucide-icon-btn svg {
  flex-shrink: 0;
}

